<div class="wrapper" ng-init="refresh()">
	<div ng-include="'components/navbar/navbar.html'"></div>

	<div ng-include="'components/sidebar/sidebar.html'"></div>

	<div class="content-wrapper">
		<div class="content">
			<div class="row">
				<div class="col-md-12">
					<div class="box">
						<div class="box-body table-responsive no-padding">
							<table class="table table-hover">
								<thead>
									<th>Name</th>
									<th>Email</th>
									<th>Signed up</th>
									<th>Last Seen</th>
									<th>Sessions</th>
									<th>City</th>
									<th>Conversations</th>
								</thead>
								<tbody>
									<tr ng-repeat="customer in customers" ng-click="redirectTo(customer._id)">
										<td>{{ customer.name }}</td>
										<td>{{ customer.email }}</td>
										<td>{{ customer.createdAt }}</td>
										<td>{{ customer.last_active_at }}</td>
										<td>{{ customer.web_sessions }}</td>
										<td>PUNE</td>
										<td>
											{{ customer.conversations.length }}
											<button type="button" class="btn btn-sm btn-default" ng-click="newConversation(customer._id)">
												<span class="glyphicon glyphicon-plus"></span>
											</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>