<!-- Main Header -->
<header class="main-header">
  <!-- Logo -->
  <a href="index2.html" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>P</b>XLT</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Pixel</b>Dashboard</span>
  </a>

  <!-- Header Navbar -->
  <div class="navbar navbar-default" ng-controller="NavbarCtrl">
    <div class="container">
      <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav navbar-right">
          <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}">
            <a href="/signup">Sign up</a>
          </li>
          <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}">
            <a href="/login">Login</a>
          </li>
          <li class="dropdown user user-menu" ng-show="isLoggedIn()">
            <a class="hidden-xs">Hello {{ getCurrentUser().name }}</a>
          </li>
          <li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}">
            <a href="/settings"><span class="glyphicon glyphicon-cog"></span></a>
          </li>
          <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}">
            <a href="" ng-click="logout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
