<section class="content-wrapper">
  <section class="content-header">
    <h1>
      Conversations
      <!-- TODO: Show unread messages -->
      <small>13 new messages</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Conversations</li>
    </ol>
  </section>
    
  <section class="content">
    <div class="row">
      <div class="col-md-3">
        <button class="btn btn-primary btn-block margin-bottom">
          Compose
        </button>
        
        <div class="box box-solid">
          <div class="box-body no-padding">
            <ul class="list-group">
              <a class="list-group-item" ng-repeat="conversation in conversations" ng-click="messageRefresh(conversation._id)" ng-class="{'active': isActive(conversation._id) }">
                <div class="media">
                  <div class="media-left">
                    <img class="img-responsive" src="{{ conversation.customer.profile_pic }}">                   
                  </div>
                  <div class="media-body">
                    <h4 class="list-group-item-heading">{{ conversation.customer.name }}</h4>
                    <p class="list-group-item-text">{{ conversation.last_message.message }}</p>
                  </div>
                </div>
              </a>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div ui-view></div>
      </div>
    </div>
  </section>
</section>