<section class="content-wrapper">
  <section class="content-header">
    <h1>
      Conversations
      <small>13 new messages</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Mailbox</li>
    </ol>
  </section>
    
  <section class="content">
    <div class="row">
      <div class="col-md-3">
        <button class="btn btn-primary btn-block margin-bottom">
          Compose
        </button>
        
        <div class="box box-solid">
          <div class="box-body no-padding">
            <ul class="list-group">
              <a class="list-group-item" ng-repeat="conversation in conversations" ng-click="messageRefresh(conversation._id)" ng-class="{'active': conversation._id === convId }">
                <div class="media">
                  <div class="media-left">
                    <img class="img-responsive" src="{{ conversation.customer.profile_pic }}">                   
                  </div>
                  <div class="media-body">
                    <h4 class="list-group-item-heading">{{ conversation.customer.name }}</h4>
                    <p class="list-group-item-text">{{ conversation.last_message.message }}</p>
                  </div>
                </div>
              </a>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="box box-primary direct-chat direct-chat-primary">
          <div class="box-header with-border">
            Messages
          </div>
          <div class="box-body">
            <div class="direct-chat-messages">
              <div ng-repeat="message in messages | orderBy:'createdAt'" class="direct-chat-msg" ng-class="{'right': message.created_by_model === 'Customer'}">
                <div class="direct-chat-info clearfix">
                  <span class="direct-chat-name pull-left" ng-show="message.created_by_model === 'Customer'">
                    {{ message.created_by.name }}
                  </span>
                  <span class="direct-chat-name pull-left" ng-show="message.created_by_model === 'Employee'">
                    {{ currentUser.name }}
                  </span>
                  <span class="direct-chat-timestamp pull-right"></span>
                </div>
                <!--  TODO: Angular fake image
                <img class="direct-chat-img" src="{{ message.created_by.profile_pic || '' }}" ng-show="message.created_by_model === 'Employee'">
                -->
                <div class="direct-chat-text">
                  {{ message.message }}
                </div>
              </div>
            </div>
          </div>

          <div class="box-footer">
            <form class="thing-form" ng-submit="submitNewMessage(convId, reply)">
              <p class="input-group">
                <input type="text" class="form-control" placeholder="Send Message to Customer" ng-model="reply">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </span>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>