<div class="box box-primary direct-chat direct-chat-primary" ng-init="messageRefresh()">
  <div class="box-header with-border">
    Messages
  </div>
  <div class="box-body">
    <div class="direct-chat-messages">
      <div ng-repeat="message in messages | orderBy:'createdAt'" class="direct-chat-msg" ng-class="{'right': message.created_by_model === 'Customer'}">
        <div class="direct-chat-info clearfix">
          <span class="direct-chat-name pull-left" ng-show="message.created_by_model === 'Customer'">
            {{ message.created_by.name }}
          </span>
          <span class="direct-chat-name pull-left" ng-show="message.created_by_model === 'Employee'">
            {{ currentUser.name }}
          </span>
          <span class="direct-chat-timestamp pull-right"></span>
        </div>
        <!--  TODO: Angular fake image
        <img class="direct-chat-img" src="{{ message.created_by.profile_pic || '' }}" ng-show="message.created_by_model === 'Employee'">
        -->
        <div class="direct-chat-text">
          {{ message.message }}
        </div>
      </div>
    </div>
  </div>

  <div class="box-footer">
    <form class="thing-form" ng-submit="submitNewMessage(reply)">
      <p class="input-group">
        <input type="text" class="form-control" placeholder="Send Message to Customer" ng-model="reply">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary">Submit</button>
        </span>
      </p>
    </form>
  </div>
</div>